<div class="position-fixed h-100 menu-bar p-0">
  <div class="logo">
    <img src="/images/small-logo.png" alt="logo" />
  </div>
  <div class="menu">
    <a href="#" class="d-flex btn rounded-0 flex-column justify-content-center align-items-center">
      <img src="/images/home.png" alt="dashboard" />
      <p class="text-light mb-0">Dashboard</p>
    </a>
    <a href="#" class="d-flex btn rounded-0 flex-column justify-content-center align-items-center">
      <img src="/images/car.png" alt="home" />
      <p class="text-light mb-0">Cars</p>
    </a>
  </div>
</div>
